<div>
  <div class="uk-flex">
    <h5>Active only</h5>
    <label class="uk-switch" for="default-2">
      <input
        type="checkbox"
        id="default-2"
        [(ngModel)]="model.activeOnly"
        (change)="onChange()"
      />
      <div class="uk-switch-slider"></div>
    </label>
  </div>

  <ngx-datatable
    #myTable
    [rows]="visibleData"
    class="material expandable"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
  >
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail
      [rowHeight]="170"
      #myDetailRow
      (toggle)="onDetailToggle($event)"
    >
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-row-detail-template
      >
        <div style="padding-left:60px; font-size:14px">
          <div *ngFor="let col of columns">
            {{ col.displayName }} : {{ row[col.name] }}
          </div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <!-- Column Templates -->
    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="true"
    >
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-cell-template
      >
        <a
          href="#"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow($event, row)"
          class="desktop-hidden"
        >
        </a>
      </ng-template>
    </ngx-datatable-column>
    <ng-template ngFor let-column [ngForOf]="columns" let-i="index">
      <ngx-datatable-column
        name="{{ column.name }}"
        [flexGrow]="3"
        [minWidth]="50"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <span [ngClass]="{ 'mobile-hidden': column.name !== 'slug' }">{{
            getColumnHeader(column)
          }}</span>
        </ng-template>
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <span
            [ngClass]="{ 'mobile-hidden': column.name !== 'slug' }"
            *ngIf="!isDate(value)"
            >{{ getValueForColumn(column, row, value) }}</span
          >
          <span
            [ngClass]="{ 'mobile-hidden': column.name !== 'slug' }"
            *ngIf="isDate(value)"
            >{{
              getValueForColumn(column, row, value) | date: 'shortDate':locale
            }}</span
          >
        </ng-template>
      </ngx-datatable-column>
    </ng-template>
  </ngx-datatable>
</div>
