<div class="">
  <div uk-grid class="uk-child-width-expand uk-flex ">
    <div class="uk-width-auto@m .uk-width-medium@s uk-child-width-medium@s">
      <app-code-add (onsubmit)="onSubmit()"></app-code-add>
    </div>
    <div class="uk-width-expand">
      <code-list [codes]="codes" [columns]="columns"></code-list>
    </div>
  </div>
</div>
