<!-- The content below is only a placeholder and can be replaced. -->
<div class="uk-background-primary">
  <header class="uk-flex uk-flex-between uk-flex-middle">
    <h1>CodeService WEB</h1>
    <app-logout></app-logout>
  </header>
  <div class="uk-background-secondary content">
    <router-outlet> </router-outlet>
  </div>

  <footer>
    <div class="uk-text-center uk-position-bottom uk-flex-around ">
      Copyrights reserved by
    </div>
  </footer>
</div>
