<div>
  <form
    method="post"
    (ngSubmit)="frm.form.valid && onSubmit(frm)"
    #frm="ngForm"
    [appOneOf]="['activatesFor', 'activatesUntil']"
    [ngFormOptions]="{ updateOn: 'blur' }"
    novalidate
  >
    <div>
      <label class="uk-form-label" for="form-stacked-text">Code</label>
      <div class="uk-form-controls">
        <input
          [ngClass]="{
            'uk-form-danger': frm.submitted && slug.invalid
          }"
          class="uk-input "
          type="text"
          placeholder="Code..."
          name="slug"
          required
          minlength="1"
          #slug="ngModel"
          [(ngModel)]="model.slug"
        />
        <div *ngIf="frm.submitted && slug.invalid" class="uk-form-danger">
          <div *ngIf="slug.errors.required">Enter Code</div>
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Valid From</label>
      <div class="uk-form-controls">
        <input
          class="uk-input "
          type="date"
          [min]="formatDate()"
          placeholder="Valid From..."
          name="validFrom"
          [(ngModel)]="model.validFrom"
        />
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Valid To</label>
      <div class="uk-form-controls">
        <input
          class="uk-input "
          type="date"
          placeholder="Valid To..."
          name="validTo"
          [min]="formatTomorrow()"
          [(ngModel)]="model.validTo"
        />
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Activates For</label>
      <div class="uk-form-controls">
        <input
          class="uk-input "
          type="number"
          #activatesFor="ngModel"
          [min]="0"
          placeholder="Activates For..."
          name="activatesFor"
          [(ngModel)]="model.activatesFor"
          [ngClass]="{
            'uk-form-danger': frm.submitted && activatesFor.invalid
          }"
        />
        <div
          *ngIf="frm.submitted && activatesFor.invalid"
          class="uk-form-danger"
        >
          <div *ngIf="activatesFor.errors.oneOf">Either this</div>
          <div *ngIf="activatesFor.errors.required">Enter Activates For</div>
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text"
        >Activates Until</label
      >
      <div class="uk-form-controls">
        <input
          class="uk-input "
          type="date"
          [min]="formatDate()"
          placeholder="Activates Until..."
          data-uk-datepicker
          #activatesUntil="ngModel"
          [ngClass]="{
            'uk-form-danger': frm.submitted && activatesUntil.invalid
          }"
          name="activatesUntil"
          [(ngModel)]="model.activatesUntil"
        />
        <div
          *ngIf="frm.submitted && activatesUntil.invalid"
          class="uk-form-danger"
        >
          <div *ngIf="activatesUntil.errors.oneOf">or this</div>
          <div *ngIf="activatesUntil.errors.required">
            Enter Activates Until
          </div>
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text"
        >Activations Limit</label
      >
      <div class="uk-form-controls">
        <input
          class="uk-input "
          type="number"
          placeholder="Activations Limit..."
          name="ActivationsLimit"
          #ActivationsLimit="ngModel"
          required
          [min]="0"
          [ngClass]="{
            'uk-form-danger': frm.submitted && ActivationsLimit.invalid
          }"
          [(ngModel)]="model.ActivationsLimit"
        />
        <div
          *ngIf="frm.submitted && ActivationsLimit.invalid"
          class="uk-form-danger"
        >
          <div *ngIf="ActivationsLimit.errors.required">
            Enter ActivationsLimit
          </div>
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Description</label>
      <div class="uk-form-controls">
        <input
          class="uk-input "
          type="text"
          placeholder="Description..."
          name="description"
          [(ngModel)]="model.description"
        />
      </div>
    </div>
    <button type="submit" class="uk-button uk-button-default uk-width-expand">
      Create Code
    </button>
  </form>
</div>
