<div class="uk-position-center">
  <form>
    <input type="text" class="uk-input" name="Username" [(ngModel)]="LoginModel.username" />
    <input type="password" class="uk-input" name="Password" [(ngModel)]="LoginModel.password" />
    <button class="uk-button uk-button-default" (click)="submit($event)">Submit</button>
  </form>
</div>
